<div class="grid-container">
  <% @lists.each do |list| %>
    <%= render "card", list: list %>
  <% end %>
</div>
<div class="row">
  <div class="col-1">
  </div>
  <div class="col-3">
    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name %>
      <%= f.input :poster, as: :file %>
      <p> Don't worry if you don't have an image we will dynamically generate one for you </p>
      <%= f.submit %>
    <% end %>
  </div>
</div>
